<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmyTemple</title>
   <!-- add icon link -->
   <link rel = "icon" href = 
    "https://1.bp.blogspot.com/-1D1eByMDGsU/YLcCe8qx96I/AAAAAAAAAPQ/oBtoPavVgsUoeKWtRchN9O0lZUJR2wf7wCLcBGAsYHQ/s2048/FT_logo-01-01.png" 
            type = "image/x-icon">

   <!--header-->
   <link rel="stylesheet" href="/css/header.css">
   <!--header-->

   <!--nav-->
    <link rel="stylesheet" href="/css/nav.css">
    <!--nav-->

    <style>

.dmca,.about,.contact{
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 20px;
}
.contact p a{
    color: #000;
}
    </style>
    
</head>
<body>

    <!--header-->
  <div class="header">
    
    <div class="logo">
     <Router>
      <a href="/" class="bollyhub">
          <img src="https://1.bp.blogspot.com/-H3eRwQDmgUA/YLnN1juky0I/AAAAAAAAAQk/0_nhnslf4RIR1l-f8V0ICll1OJICjXhbACLcBGAsYHQ/s2811/ftlogon-01.png" />
      </a>
     </Router>
    </div>
</div>
  <!--header-->



    <nav>
        <div class="menu">
            <ul class="menu_link">
    
               
            <li class="nav-link"  >        
                   <a href="/"  class="menu_li <%= active ==='home' ? 'active':'' %>"">
                       Home
                  </a>     
               </li>
              
                  
               <li  class="nav-link" >
                    <a href="/category/bollywood" class="menu_li  <%= active ==='bollywood' ? 'active':'' %>">
                        Bollywood
                    </a>
                </li>
    
                <li class="nav-link" >
                    <a href="/category/hollywood" class="menu_li  <%= active ==='hollywood' ? 'active':'' %>">
                       Hollywood
                    </a>           
                </li>
    
                <li class="nav-link" >
                    <a href="/category/dualaudio" class="menu_li  <%= active ==='dualaudio' ? 'active':'' %>">
                     Dual Audio
                    </a>
                </li>
               
                <li class="nav-link" >
                    <a href="/category/pakistani" class="menu_li  <%= active ==='pakistani' ? 'active':'' %> ">
                      Pakistani
                    </a>
                </li>
    
               
                <li class="nav-link" >
                    <a href="/category/animation" class="menu_li  <%= active ==='animation' ? 'active':'' %>">
                      Animation
                    </a>
                </li>
    
               <li class="nav-link" >
                    <a href="/category/punjabi" class="menu_li  <%= active ==='punjabi' ? 'active':'' %>">
                      Punjabi
                    </a>
               </li>
    
    
              
                
               <li class="nav-link" >
                    <a href="/category/movie300" class="menu_li  <%= active ==='movie300' ? 'active':'' %>">
                     300MB Movie
                    </a>
               </li>
    
               
    
               <li class="nav-link" >
                    <a href="/category/south" class="menu_li  <%= active ==='south' ? 'active':'' %>">
                     South Indian
                    </a>
               </li>
    
    
               <li class="nav-link" >
                    <a href="/category/telugu" class="menu_li  <%= active ==='telugu' ? 'active':'' %>"> 
                      Telugu
                    </a>
               </li>
    
               <li class="nav-link" >
                    <a href="#" class="menu_li">Genres
                     <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <ul class="drop_menu">
                        <li >
                          <a href="/category/horror">
                             
                           Horror Movie
                          </a><br/>
                        </li>
    
                        <li >
                          <a href="/category/action" >
                           Action Movie
                          </a>
                        </li> 
    
                        <li >
                          <a href="/category/sci-fi" >
                           Sci-fi Movie
                          </a>
                        </li> 
                    </ul>
    
                </li>
     
               <li class="nav-link" >
                    <a href="/category/webseries" class="menu_li">
                     Web series
                    </a>
               </li>
    
            </ul>    
        </div>
    </nav>
    
    <div class="contact">
        <h2>Contact Us:-</h2>
        <p>Please use English language for your messages. 
            If you have a problem with English, you can use 
            <a href="http://translate.google.com/" target="_blank"> Google Transalte</a> 
            </p>
         <p>Our Email:-</p><span>badruddinansary20@gmail.com</span>
    </div>

</body>
</html>